<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="zh-CN"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{page.title}} · The Setup</title>

  {% if page.person %}
    <meta name="description" content="{{page.person}}，{{ page.summary }}">
    <meta property="og:description" content="{{page.person}}，{{ page.summary }}">
    <meta property="og:image" content="{{site.base_url}}images/portraits/{{page.slug}}.jpg">
  {% else  %}
    <meta name="description" content="{{ site.description }}">
    <meta property="og:description" content="{{ site.description }}">
  {% endif %}


  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/css/style.css">
  <script src="//upcdn.b0.upaiyun.com/libs/modernizr/modernizr-2.7.1.min.js"></script>
</head>
<body>
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
  	<header>
			<h1><a href="/" title="The most recent interviews.">The Setup</a></h1>
			<p id="tagline">他们用什么搞定生活？</p>
	</header>
	<nav>
		<ul>
			<li><a href="/interviews" title="All the other interviews.">所有</a></li>
			<li><a href="/about" title="A little more info about the site.">关于</a></li>
			<li><a href="/feed/" title="The site's Atom feed.">订阅</a></li>
		</ul>
	</nav>

	<aside id="sidebar">
	</aside>

	<section id="contents">
	   {{content}}
	</section>

	<footer>
    <p>基于 <a href="http://usesthis.com/">The Setup</a>，如未特殊声明，所有内容均以 <a href="http://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0</a> 发布 | <a href="http://www.littletouch.org/">littletouch</a> 2015</p>
  </footer>

  <script src="//upcdn.b0.upaiyun.com/libs/jquery/jquery-2.0.3.min.js"></script>

  <script src="/js/plugins.js"></script>
  <script src="/js/script.js"></script>

  <script>
    var _gaq=[['_setAccount','UA-8230755-7'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>
